.App {
  text-align: center;
  margin: 100px auto;
}

.App input {
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 16px;
}

.App button {
  background-color: #ccc;
  border-radius: 50px;
  padding: 7px 14px;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

.App button:hover {
  background-color: #000;
  color: #fff;
}

.list-container {
  width: 50%;
  margin: 30px auto;
}

.card-item {
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin-bottom: 8px;
  background-color: #fff;
  cursor: move;
}
